/* frontend/src/pages/DashboardPage.css */

.summary-card .card-body {
    display: flex;
    align-items: center;
}

.summary-card .icon {
    font-size: 50px;
    margin-right: 1.5rem;
}

/* Media query for medium screens and down */
@media (max-width: 768px) {
    .summary-card .card-body {
        flex-direction: column;
        text-align: center;
    }

    .summary-card .icon {
        font-size: 40px;
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .summary-card h5 {
        font-size: 1.1rem;
    }

    .summary-card h3 {
        font-size: 1.5rem;
    }
}

/* Media query for small screens and down */
@media (max-width: 576px) {
    .summary-card .icon {
        font-size: 30px;
    }

    .summary-card h5 {
        font-size: 1rem;
    }

    .summary-card h3 {
        font-size: 1.3rem;
    }
}
