/* frontend/src/pages/DashboardPage.css */

.summary-card .card-body {
    display: flex;
    align-items: center;
}

.summary-card .icon {
    margin-right: 1rem;
}

/* Media query for medium screens and down */
@media (max-width: 768px) {
    .summary-card .card-body {
        flex-direction: column;
        text-align: center;
    }

    .summary-card .icon {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}
